.about_user{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.about_user__avatar{
    width: 120px;
    height: 120px;
    margin-right: 10px;
}

.about_user__list{
    padding-left: 10px;
    font-size: 18px;
    list-style-type:none;
}

.edit_data{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    column-gap: 30px;
}

.news {
    padding-top: 50px;
    display: flex !important;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
